/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  /*Colores*/
  --verdeClaro: #63af09;
  --grisClaro: #ededea;
  --marron: #5b2c07;
  --verdeOscuro: #0f9007;
  --marronClaro: #997f69;
  --blanco: #fff;


  /*Tipografías*/

  --principalNegrita: 'Oswald', sans-serif, 600;
  --principal: 'Oswald', sans-serif;
  --secundaria: 'Open Sans Condensed', sans-serif;

}

a{
  font-family: var(--principal);
}

.navbar {
  background-color: var(--blanco);
  -webkit-box-shadow: 0px 10px 15px -3px rgba(99,175,9,0.77);
  -moz-box-shadow: 0px 10px 15px -3px rgba(99,175,9,0.77);
  box-shadow: 0px 10px 15px -3px rgba(99,175,9,0.77);
}


.navbar-brand img {
  max-width: 60px;
  max-height: 60px; 
  
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
